@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 transition: 0.5s;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30rem; /*1 rem = 16px */
  padding: 10px;
  border-radius: 10px;
  background-color: white;

  font-size: 40px;
  text-align: center; /*It Works With  Inline Element */
}

button {
  margin-top: 5px;
  display: block;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: 7px;
  font-size: 40px;
}
